body{
    background-color: #011f3f;
    
}

/* classes */

.instructions{
    color: #FEF2BF;
    font-size: 4rem;
    text-align: center;
}

.container{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    
}



.btn
{
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 25px;
}

.game-over {
    background-color: red;
    opacity: 0.8;
  }


/* button colors */
.green{
    background-color: green;

}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.pressed{

    box-shadow: 0 0 20px white;
    background-color: grey;
}